<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Faca o login</title>
    </head>
    <%- include("partials/header.html") %>
    <body>
        <div class="login-titulo">
            <h1>Login administrador</h1>
        </div>
        <form method="post" action="/admin/login">
            <div class="login-campos">
                <div class="login-escrito">
                    <div class="login-usuario">
                        <input placeholder="Nome" type="text" name="login"/>
                    </div>
                    <div class="login-senha">
                        <input placeholder="Senha" type="password" name="senha"/>
                    </div>
                </div>
                <div class="login-btn">
                    <div class="login-botao">
                        <input type="submit" name="acao" value="Logar!"/>
                    </div>
                </div>
                

            </div>
        </form>
    </body>
    <div class="login-footer">
        <footer>
            <%- include("partials/footer.html") %>
        </footer>
    </div>
</html>