
    <%- include("partials/header.html") %>

        <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="feito-por">
                        <div class="icone">
                            <img src="/public/images/thomas.jpg"/>
                        </div>
                        <h2>Thomas Schmitz</h2>
                    </div>
                    <div class="title-destaque-descricao">
                        <a href="<%= postsTop[0].slug %>"><h2><%= postsTop[0].titulo %></h2></a>
                        <p><%- postsTop[0].descricaoCurta %>...</p>
                    </div>
                    <img src="<%= postsTop[0].imagem %>"/>
                </div>
            </div>
        </section>

        <section class="outras-noticias">
            <div class="title-outras-noticia">
                <h2>Ultimas noticias</h2>
                <br></br>
                <div class="center">
                    <div class="ultimas">

                        <%for(let i = 0; i < posts.length; i++){ %>
                            <div class="box-ultima-single">
                            <img src="<%= posts[i].imagem %>"/>
                            <div class="conteudo-noticia-single">
                                <h3><%= posts[i].categoria %></h3>
                                <h2><%= posts[i].titulo %></h2>
                                <p><%- posts[i].descricaoCurta %>...</p>
                                <a href="<%= posts[i].slug %>">Saiba mais</a>
                            </div>
                        </div>

                        <% } %>
                    </div>
                    <div class="mais-lidas">
                        <h3>Mais lidas</h3>
                        <div class="mais-lidas-noticias">
                            <%for(let i = 0; i < postsTop.length; i++){ %>
                            <div class="mais-lidas-noticia-single">
                                <img src="<%= postsTop[i].imagem %>"/>
                                <div class="texto-mais-lido-single">
                                    <h4><%= postsTop[i].titulo %></h4>
                                    <p><%- postsTop[i].descricaoCurta %>... -<span style="font-size: 12px;font-weight: bold;">(<%= postsTop[i].views %> views)</span></p>
                                    <a href="<%= postsTop[i].slug %>">Saiba mais</a>

                                </div>
                            </div>
                            <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include("partials/footer.html") %>


    </body>
</html>